<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mobese.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobese Projesi</title>
    
</head>
<body>
    <div class="container">
        {% for image, description in images %}
        <div class="gallery-item">
            <img src="{{ image }}" alt="Image 1">
            <br>
            <p>{{ description }}</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        {% endfor %}
    </div>
</body>
</html>
