<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'voice.css' %}">
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
</head>
<body>
    <div class="container">
        <h1>Ses Tanıma ve Duygu Analizi</h1>
        
    </div>
    <h1>Ses Dosyası Yükle</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button onclick="location.href='{% url 'audio-list' %}'" type="submit">Yükle</button>
    </form>
</body>
</html>
